# Rudimentary cleaning and prep

## Mounting drive, installing and importing tools

In [5]:
%pip install pandas spacy wordcloud numpy openpyxl pyarrow

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: spacy in ./.venv/lib/python3.12/site-packages (3.7.4)
Requirement already satisfied: wordcloud in ./.venv/lib/python3.12/site-packages (1.9.3)
Requirement already satisfied: numpy in ./.venv/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: openpyxl in ./.venv/lib/python3.12/site-packages (3.1.2)
Requirement already satisfied: pyarrow in ./.venv/lib/python3.12/site-packages (16.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in ./.venv/lib/python3.12/site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in ./.venv/lib/python3.12/site-packages (from spacy) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in ./.venv/lib/python3.12/site-packages (from spacy) (1.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in ./.venv/lib/python3.12/site-packages (from spacy) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in ./.venv/lib/python3.12/site-packages (from spacy) (3.0.9)
Requirement already satisfied: thinc<8.3.0,>=8.2.2 in ./.venv/lib/python3.12/site-packages (from spacy) (8.2.3)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in ./.venv/lib/python3.12/site-packages (from spacy) (1.1.2)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in ./.venv/lib/python3.12/site-packages (from spacy) (2.4.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in ./.venv/lib/python3.12/site-packages (from spacy) (2.0.10)
Requirement already satisfied: weasel<0.4.0,>=0.1.0 in ./.venv/lib/python3.12/site-packages (from spacy) (0.3.4)
Requirement already satisfied: typer<0.10.0,>=0.3.0 in ./.venv/lib/python3.12/site-packages (from spacy) (0.9.4)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in ./.venv/lib/python3.12/site-packages (from spacy) (6.4.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in ./.venv/lib/python3.12/site-packages (from spacy) (4.66.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in ./.venv/lib/python3.12/site-packages (from spacy) (2.31.0)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4 in ./.venv/lib/python3.12/site-packages (from spacy) (2.7.1)
Requirement already satisfied: jinja2 in ./.venv/lib/python3.12/site-packages (from spacy) (3.1.4)
Requirement already satisfied: setuptools in ./.venv/lib/python3.12/site-packages (from spacy) (69.5.1)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from spacy) (24.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in ./.venv/lib/python3.12/site-packages (from spacy) (3.4.0)
Requirement already satisfied: pillow in ./.venv/lib/python3.12/site-packages (from wordcloud) (10.3.0)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.12/site-packages (from wordcloud) (3.9.0)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: language-data>=1.2 in ./.venv/lib/python3.12/site-packages (from langcodes<4.0.0,>=3.2.0->spacy) (1.2.0)
Requirement already satisfied: annotated-types>=0.4.0 in ./.venv/lib/python3.12/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in ./.venv/lib/python3.12/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (2.18.2)
Requirement already satisfied: typing-extensions>=4.6.1 in ./.venv/lib/python3.12/site-packages (from pydantic!=1.8,!=1.8.1,<3.0.0,>=1.7.4->spacy) (4.11.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.12/site-packages (from requests<3.0.0,>=2.13.0->spacy) (2024.2.2)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in ./.venv/lib/python3.12/site-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.7.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in ./.venv/lib/python3.12/site-packages (from thinc<8.3.0,>=8.2.2->spacy) (0.1.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in ./.venv/lib/python3.12/site-packages (from typer<0.10.0,>=0.3.0->spacy) (8.1.7)
Requirement already satisfied: cloudpathlib<0.17.0,>=0.7.0 in ./.venv/lib/python3.12/site-packages (from weasel<0.4.0,>=0.1.0->spacy) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in ./.venv/lib/python3.12/site-packages (from jinja2->spacy) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (1.2.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (1.4.5)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (3.1.2)
Requirement already satisfied: marisa-trie>=0.7.7 in ./.venv/lib/python3.12/site-packages (from language-data>=1.2->langcodes<4.0.0,>=3.2.0->spacy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import wordcloud as wc
import spacy

## Getting each initial excel file as a df

In [10]:
#Adressen BOH Wonen Zuid
file_path = './data/Adressen BOH Wonen Zuid.xlsx'  # Update this to your file's path
df_adressen = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta foutcode 2010 2011 2012 2013 2014
file_path = './data/Data Volta foutcode 2010 2011 2012 2013 2014.xlsx'  # Update this to your file's path
df_foutcode2010to2014 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta foutcode 2015 2016 2017 2018 2019
file_path = './data/Data Volta foutcode 2015 2016 2017 2018 2019.xlsx'  # Update this to your file's path
df_foutcode2015to2019= pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta foutcode 2020 2021 2022 2023
file_path = './data/Data Volta foutcode 2020 2021 2022 2023.xlsx'  # Update this to your file's path
df_foutcode2020to2023 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta Foutcode omschrijving
file_path = './data/Data Volta Foutcode omschrijving.xlsx'  # Update this to your file's path
df_foutcode_omschrijving = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta gebruikte materialen 2010 2011 2012 2013 2014
file_path = './data/Data Volta gebruikte materialen 2010 2011 2012 2013 2014.xlsx'  # Update this to your file's path
df_usedmat2010to2014 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta gebruikte materialen 2015 2016 2017 2018 2019
file_path = './data/Data Volta gebruikte materialen 2015 2016 2017 2018 2019.xlsx'  # Update this to your file's path
df_usedmat2015to2019 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta gebruikte materialen 2020 2021 2022 2023
file_path = './data/Data Volta gebruikte materialen 2020 2021 2022 2023.xlsx'  # Update this to your file's path
df_usedmat2020to2023 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta Monteursbezoeken
file_path = './data/Data Volta Monteursbezoeken.xlsx'  # Update this to your file's path
df_monteursbezoeken = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls
#Data Volta toestellen onder contract
file_path = './data/Data Volta toestellen onder contract.xlsx'  # Update this to your file's path
df_toestellen = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls

**Above are the initial, unadultered datasets provided by Volta.**

We might want to stitch some of them together, we definitely want to clean and prep them. To save them after cleaning, remember to save it to a new csv,xls, or pckl and give it a new name to indicate what it is.

**We can decide the naming scheme here: name_cleaned_version.filetype**

Cleaning, prep, stitching goes in their own following sections

# Cleaning individual files

## For Adressen BOH Wonen Zuid

In [ ]:
print(df_adressen.columns)

In [12]:
#cleaning and prep goes here
df_adressen.dropna(inplace=True)  # Drop rows with NaNs
df_adressen.rename(columns={'toestelfabrikant': 'manu',
                            'toestel': 'device',
                            'call_base_naam': 'call_name',
                            'call_base_adres': 'call_address',
                            'call_base_postcode': 'call_postcode',
                            'call_base_plaats': 'call_city',
                            'call_base_huisnr': 'call_housenr',
                            'ComplexNr': 'ComplexNr',
                            'Datum_Uitgevoerd_OH': 'date_of_service',
                            'Unnamed: 9': 'RemoteCheck',
                            'Unnamed: 10': 'MaintenanceCheck'}, inplace=True)
#RemoteCheck named because the only things present in column are "beheer op afstand" and "referentieadres, geen beheer op afstand", which means remote management and reference address, no remote management
#MaintenanceCheck because the only things present in column are "bij start geen onderhoud uitgevoerd" and "bij start onderhoud uitgevoerd" which mean maintenance carried out at start and no maintenance performed at start
#we could make these two columns be binary if we want.
df_adressen.drop(['manu'], axis=1, inplace=True)

In [ ]:
#checking it's cleaned
df_adressen.info()
df_adressen.head()

In [13]:
# Convert 'call_housenr' and 'ComplexNr' from float to int
df_adressen['call_housenr'] = df_adressen['call_housenr'].astype(int)
df_adressen['ComplexNr'] = df_adressen['ComplexNr'].astype(int)

# Convert to categorical
df_adressen['RemoteCheck'] = df_adressen['RemoteCheck'].astype('category')
df_adressen['MaintenanceCheck'] = df_adressen['MaintenanceCheck'].astype('category')

# Check for duplicates
df_adressen = df_adressen.drop_duplicates()

# Standardize textual data (example for one column)
df_adressen['call_city'] = df_adressen['call_city'].str.upper().str.strip()

#new cleaned df
df_adressen_cleaned = df_adressen

In [14]:
#checking it
df_adressen_cleaned

,device,call_name,call_address,call_postcode,call_city,call_housenr,ComplexNr,date_of_service,RemoteCheck,MaintenanceCheck
1,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,VAN PALLANDTLAAN 35,6301 TN,VALKENBURG LB,35,340520,2022-03-24,beheer op afstand,bij start onderhoud uitgevoerd
2,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,VAN PALLANDTLAAN 27,6301 TN,VALKENBURG LB,27,340520,2023-03-22,beheer op afstand,bij start onderhoud uitgevoerd
3,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,VAN PALLANDTLAAN 29,6301 TN,VALKENBURG LB,29,340520,2023-03-16,beheer op afstand,bij start onderhoud uitgevoerd
4,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,VAN PALLANDTLAAN 25,6301 TN,VALKENBURG LB,25,340520,2023-03-22,beheer op afstand,bij start onderhoud uitgevoerd
5,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,W.M.G VAN DEN NIEUWENDIJK,VAN PALLANDTLAAN 33,6301 TN,VALKENBURG LB,33,340520,2023-03-21,beheer op afstand,bij start onderhoud uitgevoerd
6,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BERKELPLEIN 38,6301 ZE,VALKENBURG LB,38,340616,2022-11-10,beheer op afstand,bij start onderhoud uitgevoerd
7,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,PRINS WILLEM ALEXANDERLAAN 41,6301 TR,VALKENBURG LB,41,340519,2022-04-14,beheer op afstand,bij start onderhoud uitgevoerd
8,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,PR.W.ALEXANDERLAAN 58,6301 TZ,VALKENBURG LB,58,340520,2023-01-16,beheer op afstand,bij start onderhoud uitgevoerd
9,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,VAN HEINSBERGLAAN 14,6301 VJ,VALKENBURG LB,14,340519,2022-03-01,beheer op afstand,bij start geen onderhoud uitgevoerd
10,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BERKELPLEIN 200,6301 ZK,VALKENBURG LB,200,340616,2022-03-24,beheer op afstand,bij start geen onderhoud uitgevoerd
11,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,PRINSES IRENELAAN 1,6301 VR,VALKENBURG LB,1,340520,2023-01-17,beheer op afstand,bij start geen onderhoud uitgevoerd
12,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID,PRINSES IRENELAAN 9,6301 VR,VALKENBURG LB,9,340520,2022-12-28,beheer op afstand,bij start geen onderhoud uitgevoerd
13,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,PRINSES IRENELAAN 7,6301 VR,VALKENBURG LB,7,340520,2022-11-16,beheer op afstand,bij start geen onderhoud uitgevoerd
14,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,PRINS WILLEM ALEXANDERLAAN 44,6301 TZ,VALKENBURG LB,44,340520,2022-12-19,beheer op afstand,bij start geen onderhoud uitgevoerd
15,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,PR.W.ALEXANDERLAAN 46,6301 TZ,VALKENBURG LB,46,340520,2023-01-13,beheer op afstand,bij start geen onderhoud uitgevoerd
16,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,PRINSES CHRISTINALAAN 13,6301 VV,VALKENBURG LB,13,340519,2022-06-02,beheer op afstand,bij start geen onderhoud uitgevoerd
17,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 21,6301 AX,VALKENBURG LB,21,340223,2022-11-02,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
18,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 59,6301 AX,VALKENBURG LB,59,340210,2022-06-03,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
19,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 29,6301 AX,VALKENBURG LB,29,340223,2022-06-14,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
20,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 47,6301 AX,VALKENBURG LB,47,340210,2022-11-24,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
21,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 67,6301 AX,VAKENBURG LB,67,340210,2022-08-15,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
22,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 33,6301 AX,VALKENBURG LB,33,340210,2022-02-06,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
23,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 27,6301 AX,VALKENBURG LB,27,340223,2022-05-30,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
24,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 25,6301 AX,VALKENBURG LB,25,340223,2022-10-24,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
25,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 75,6301 AX,VALKENBURG LB,75,340210,2022-11-21,"referentieadres, geen beheer op afstand",bij start onderhoud uitgevoerd
26,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 61,6301 AX,VALKENBURG LB,61,340210,2022-06-10,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
27,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 19,6301 AX,VALKENBURG LB,19,340223,2022-11-15,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
28,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 31,6301 AX,VALKENBURG LB,31,340210,2022-11-03,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
29,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 57,6301 AX,VALKENBURG LB,57,340210,2022-12-01,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
30,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 55,6301 AX,VALKENBURG LB,55,340210,2022-11-16,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
31,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 45,6301 AX,VALKENBURG LB,45,340210,2022-11-10,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
32,AVANTA ACE HR COMBI KETEL 28C CW4 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 77,6301 AX,VALKENBURG LB,77,340210,2023-02-08,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
33,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 71,6301 AX,VALKENBURG LB,71,340210,2022-11-04,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd
34,AVANTA ACE HR COMBI KETEL 24C CW3 80/80 ...,WONEN ZUID REGIO VALKENBURG,BECKERSWEI 73,6301 AX,VAKENBURG LB,73,340210,2022-11-16,"referentieadres, geen beheer op afstand",bij start geen onderhoud uitgevoerd

In [16]:
cleaned_file_path = './data/cleaned/adressen_cleaned_v1.xlsx'  # Adjust path as needed
df_adressen_cleaned.to_excel(cleaned_file_path, index=False)

## For volta foutcode docs 2010-2023

In [17]:
#checking columns, datatypes for each
df_foutcode2010to2014.info()
df_foutcode2015to2019.info()
df_foutcode2020to2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794935 entries, 0 to 794934
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CALL_PREFIX  794935 non-null  int64
 1   CALL_SUFFIX  794935 non-null  int64
 2   FAULT_CODE   794935 non-null  object
 3   CREATE_DATE  794935 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 24.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829592 entries, 0 to 829591
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CALL_PREFIX  829592 non-null  int64
 1   CALL_SUFFIX  829592 non-null  int64
 2   FAULT_CODE   829592 non-null  object
 3   CREATE_DATE  829592 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 25.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567469 entries, 0 to 567468
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CALL_PREFIX  567469 non-null  int64
 1   CALL_SUFFIX  567469 non-null  int64
 2   FAULT_CODE   567469 non-null  object
 3   CREATE_DATE  567469 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 17.3+ MB

In [18]:
#stitching goes here
df_foutcode_all= pd.concat([df_foutcode2010to2014, df_foutcode2015to2019, df_foutcode2020to2023], ignore_index=True)
# Check the first few rows to ensure concatenation went as expected
print(df_foutcode_all.head())

   CALL_PREFIX  CALL_SUFFIX  FAULT_CODE CREATE_DATE
0      2073122            1  31000       2010-01-05
1      2174170            1  30000       2012-09-28
2      2376219            1  30000       2013-04-18
3      2413681            1  30400       2012-07-06
4      2454718            1  30500       2011-01-10

In [19]:
# Check the info to ensure the data types and non-null counts are as expected
df_foutcode_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191996 entries, 0 to 2191995
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   CALL_PREFIX  int64
 1   CALL_SUFFIX  int64
 2   FAULT_CODE   object
 3   CREATE_DATE  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 66.9+ MB

Now to check and clean

In [20]:
print(df_foutcode_all.isnull().sum())

CALL_PREFIX    0
CALL_SUFFIX    0
FAULT_CODE     0
CREATE_DATE    0
dtype: int64

In [21]:
print(df_foutcode_all['FAULT_CODE'].unique())

['31000     ' '30000     ' '30400     ' ... '22651     ' '24311     '
 '19963     ']

In [22]:
#if we want to keep FAULT_CODE categorical, ensuring consistency
df_foutcode_all['FAULT_CODE'] = df_foutcode_all['FAULT_CODE'].str.strip().str.upper()

In [23]:
#checking and dropping duplicates
df_foutcode_all= df_foutcode_all.drop_duplicates()

In [24]:
df_foutcode_all.describe() #habit

        CALL_PREFIX   CALL_SUFFIX                    CREATE_DATE
count  2.191996e+06  2.191996e+06                        2191996
mean   4.243150e+06  1.088200e+00  2016-11-02 17:04:31.150129664
min    2.073122e+06  1.000000e+00            2010-01-02 00:00:00
25%    3.768568e+06  1.000000e+00            2013-08-07 00:00:00
50%    4.233924e+06  1.000000e+00            2016-09-08 00:00:00
75%    4.719211e+06  1.000000e+00            2020-02-11 00:00:00
max    5.304755e+06  6.000000e+01            2023-11-02 00:00:00
std    5.728153e+05  4.907911e-01                            NaN

In [25]:
#ensuring index intregrity
df_foutcode_all.reset_index(drop=True, inplace=True)

In [ ]:
df_foutcode_all

In [ ]:
#df_foutcode_all_cleaned = df_foutcode_all
#cleaned_file_path = '/content/drive/MyDrive/4. University: Projects, Groups, etc/0.BISS/Volta Project Group/volta data/cleaned/foutcodeall_cleaned_v1.xlsx'  # Adjust path as needed
#df_foutcode_all_cleaned.to_excel(cleaned_file_path, index=False)
#trying to do this in Excel leads to error as it's too large. so instead im doing it with parquet below.

In [26]:
parquet_file_path = './data/cleaned/foutcodeall_cleaned_v1.parquet'
df_foutcode_all.to_parquet(parquet_file_path, index=False)
df_foutcode_all_cleanedv1 = pd.read_parquet(parquet_file_path)

In [27]:
df_foutcode_all_cleanedv1

         CALL_PREFIX  CALL_SUFFIX FAULT_CODE CREATE_DATE
0            2073122            1      31000  2010-01-05
1            2174170            1      30000  2012-09-28
2            2376219            1      30000  2013-04-18
3            2413681            1      30400  2012-07-06
4            2454718            1      30500  2011-01-10
...              ...          ...        ...         ...
2191991      5304687            1      20300  2023-11-02
2191992      5304701            1      19641  2023-11-02
2191993      5304719            1      15671  2023-11-02
2191994      5304719            1      32100  2023-11-02
2191995      5304755            1      12700  2023-11-02

[2191996 rows x 4 columns]

## For foutcode omschrijving

This one is kinda weird, only 3 columns
code, description, and create date

and the dates appear to go all the way back to 2000 and some of them are nonsense.

This file just might be something we ignore, idk.

In [ ]:
#Data Volta Foutcode omschrijving
#file_path = './data/Data Volta Foutcode omschrijving.xlsx'  # Update this to your file's path
#df_foutcode_omschrijving = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls

In [28]:
#inspecting data types
df_foutcode_omschrijving.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CODE         2199 non-null   object
 1   DESCRIPTION  2199 non-null   object
 2   CREATE_DATE  2199 non-null   datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 51.7+ KB

In [29]:
#standardizing CODE
df_foutcode_omschrijving['CODE'] = df_foutcode_omschrijving['CODE'].astype(str)

In [30]:
# Clean DESCRIPTION
df_foutcode_omschrijving['DESCRIPTION'] = df_foutcode_omschrijving['DESCRIPTION'].str.strip().str.upper()

In [31]:
#Validate CREATE_DATE
df_foutcode_omschrijving['CREATE_DATE'] = pd.to_datetime(df_foutcode_omschrijving['CREATE_DATE'])

In [32]:
#Drop rows with any missing values
df_foutcode_omschrijving.dropna(inplace=True)

In [33]:
#Removing duplicates
df_foutcode_omschrijving = df_foutcode_omschrijving.drop_duplicates()

In [34]:
#Inspect Unique Values
print(df_foutcode_omschrijving['CODE'].unique())
print(df_foutcode_omschrijving['DESCRIPTION'].unique())

['10098     ' '10099     ' '10100     ' ... 'WPL50     ' 'WPL60     '
 'WPL70     ']
['WENST GEEN OFFERTE' 'OFFERTE ONLINE AANGEVRAAGD'
 'XX WATERAANSLUITKRAAN 00' ... 'INSTALLATIE OP ORDER CZ  50'
 'UITWIS./ VERV.TOESTELLEN  60' 'WEGHALEN APPARATUUR   70']

In [35]:
#Saving the cleaned df
df_foutcode_omschrijving_cleaned = df_foutcode_omschrijving

In [36]:
cleaned_file_path = './data/cleaned/omschrijving_cleaned_v1.xlsx'  # Adjust path as needed
df_foutcode_omschrijving.to_excel(cleaned_file_path, index=False)

## For gebrukte materialen 2010-2023 (used materials)

In [ ]:
#Data Volta gebruikte materialen 2010 2011 2012 2013 2014
#file_path = './data/Data Volta gebruikte materialen 2010 2011 2012 2013 2014.xlsx'  # Update this to your file's path
#df_usedmat2010to2014 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls

In [ ]:
#Data Volta gebruikte materialen 2015 2016 2017 2018 2019
#file_path = './data/Data Volta gebruikte materialen 2015 2016 2017 2018 2019.xlsx'  # Update this to your file's path
#df_usedmat2015to2019 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls

In [ ]:
#Data Volta gebruikte materialen 2020 2021 2022 2023
#file_path = './data/Data Volta gebruikte materialen 2020 2021 2022 2023.xlsx'  # Update this to your file's path
#df_usedmat2020to2023 = pd.read_excel(file_path, engine='openpyxl')  # Use 'xlrd' if your file is .xls

In [38]:
df_usedmat2010to2014.info()
df_usedmat2015to2019.info()
df_usedmat2020to2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318968 entries, 0 to 318967
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CALL_PREFIX  318968 non-null  int64
 1   CALL_SUFFIX  318968 non-null  int64
 2   USED_PROD    318968 non-null  object
 3   USED_QTY     318968 non-null  int64
 4   CREATE_DATE  318968 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 12.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610482 entries, 0 to 610481
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CALL_PREFIX  610482 non-null  int64
 1   CALL_SUFFIX  610482 non-null  int64
 2   USED_PROD    610482 non-null  object
 3   USED_QTY     610482 non-null  int64
 4   CREATE_DATE  610482 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 23.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403068 entries, 0 to 403067
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CALL_PREFIX  403068 non-null  int64
 1   CALL_SUFFIX  403068 non-null  int64
 2   USED_PROD    403068 non-null  object
 3   USED_QTY     403068 non-null  int64
 4   CREATE_DATE  403068 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 15.4+ MB

In [39]:
#stitching goes here
df_usedmat_all= pd.concat([df_usedmat2010to2014, df_usedmat2015to2019, df_usedmat2020to2023], ignore_index=True)
# Check the first few rows to ensure concatenation went as expected
print(df_usedmat_all.head())

   CALL_PREFIX  CALL_SUFFIX         USED_PROD  USED_QTY CREATE_DATE
0      2398657            1  ALG073865                2  2013-08-07
1      2398657            1  ALG092132                1  2013-08-07
2      2398657            1  ALG448011                1  2013-08-07
3      2398657            1  ALG448011                2  2013-08-07
4      2398657            1  ALG448011                2  2013-08-07

cleaning and prep goes here

In [40]:
#check for duplicate rows
df_usedmat_all = df_usedmat_all.drop_duplicates()

In [41]:
#inspect and convert data types
df_usedmat_all['CREATE_DATE'] = pd.to_datetime(df_usedmat_all['CREATE_DATE'])
df_usedmat_all['USED_QTY'] = pd.to_numeric(df_usedmat_all['USED_QTY'], downcast='integer')

In [42]:
#validate and clean 'USED_PROD'
df_usedmat_all['USED_PROD'] = df_usedmat_all['USED_PROD'].str.strip().str.upper()

In [43]:
#handle missing values
print(df_usedmat_all.isnull().sum())
# Depending on the output, decide on the action. For instance, if missing values are in 'USED_QTY':
df_usedmat_all.dropna(subset=['USED_QTY'], inplace=True)

CALL_PREFIX    0
CALL_SUFFIX    0
USED_PROD      0
USED_QTY       0
CREATE_DATE    0
dtype: int64

In [44]:
#check for and resolve potential anomalies in USED QTY
print(df_usedmat_all['USED_QTY'].describe())
# Based on the output, decide if any action is needed. For example:
# reasonable_upper_limit = ---
# df_usedmat_all = df_usedmat_all[df_usedmat_all['USED_QTY'] <= reasonable_upper_limit]

count    1.072622e+06
mean     3.247407e+00
std      7.843871e+01
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      3.730300e+04
Name: USED_QTY, dtype: float64

In [ ]:
#could summarize repeated entries with this
#df_usedmat_all = df_usedmat_all.groupby(['CALL_PREFIX', 'CALL_SUFFIX', 'USED_PROD', 'CREATE_DATE']).agg({'USED_QTY':'sum'}).reset_index()

In [45]:
#verifying integrity of call ids
df_usedmat_all['CALL_PREFIX'] = df_usedmat_all['CALL_PREFIX'].astype(int)
df_usedmat_all['CALL_SUFFIX'] = df_usedmat_all['CALL_SUFFIX'].astype(int)

In [ ]:
#final check
df_usedmat_all.info()
df_usedmat_all.head()

In [46]:
cleaned_file_path = './data/cleaned/materialen_cleaned_v1.parquet'
df_usedmat_all.to_parquet(cleaned_file_path, index=False)

In [47]:
df_usedmat_all

         CALL_PREFIX  CALL_SUFFIX     USED_PROD  USED_QTY CREATE_DATE
0            2398657            1     ALG073865         2  2013-08-07
1            2398657            1     ALG092132         1  2013-08-07
2            2398657            1     ALG448011         1  2013-08-07
3            2398657            1     ALG448011         2  2013-08-07
9            2398657            1     ALG561064         2  2013-08-07
...              ...          ...           ...       ...         ...
1332513      5300854            1     ALG072446         1  2023-10-24
1332514      5300857            1     ALG062450         1  2023-10-30
1332515      5300857            1     VAI077846         1  2023-10-30
1332516      5300859            1  IGA000042628         1  2023-10-23
1332517      5300859            2     MAP000028         1  2023-10-27

[1072622 rows x 5 columns]

## For monteurbezoeken

In [48]:
df_monteursbezoeken.head()

,CallnummerPre,CallnummerExt,LogDatum,STATUS,Lokatie,PRODUCT,UnitNo,CallType,PlanDatum,ContractNo,POSTCODE,Huisnummer,Omschrijving,OpmerkingMonteur,ProductOmschrijving,Merk,LijnAanduiding,bouwjaar
0,4268244,1,2016-08-07,AFGESLOTEN,LO00482025,REM000090260,2005L51119879,OHKL,NaT,50109327,6105 CS,0008,ONDERHOUD KLEIN ...,NaN,REMEHA HRC AVANTA 28 C CW4 ...,REMEHA,AVANTA,2005.0
1,4342562,1,2017-01-01,AFGESLOTEN,LO90000718,REM000090260,090186461059957121072750,OHKL,NaT,50113679,6215 TR,0065,ONDERHOUD KLEIN ...,EB in 2016 uitgevoerd ...,REMEHA HRC AVANTA 28 C CW4 ...,REMEHA,AVANTA,2007.0
2,4322114,1,2017-02-19,BRIEF3,LO00483571,REM000090259,ZI00000061,OHGO,NaT,E0011895,6215 EX,0018-B,ONDERHOUD GROOT ...,NaN,REMEHA HRC AVANTA 24 C CW3 ...,REMEHA,AVANTA,2013.0
3,4352471,1,2017-04-23,BRIEF3,LO00352964,REM000090259,2480762143,OHKL,NaT,E0011895,6227 CM,0050-E,ONDERHOUD KLEIN ...,NaN,REMEHA HRC AVANTA 24 C CW3 ...,REMEHA,AVANTA,2006.0
4,4353657,1,2017-04-23,BRIEF3,LO00487008,REM000090260,1018600110828,OHKL,NaT,E0011895,6214 VG,0049,ONDERHOUD KLEIN ...,NaN,REMEHA HRC AVANTA 28 C CW4 ...,REMEHA,AVANTA,2010.0

In [ ]:
df_monteursbezoeken.info()

In [49]:
#cleaning and prep goes here
df_monteursbezoeken.dropna(inplace=True)  # Drop rows with NaNs
df_monteursbezoeken.rename(columns={
                            'CallnummerPre': 'CallNumberPre',
                            'CallnummerExt': 'CallNumberExt',
                            'LogDatum': 'LogDate',
                            'STATUS': 'STATUS',
                            'Lokatie': 'Location',
                            'PRODUCT': 'PRODUCT',
                            'UnitNo': 'UnitNr',
                            'CallType': 'CallType',
                            'PlanDatum': 'PlanDate',
                            'ContractNo': 'ContractNr',
                            'POSTCODE': 'POSTCODE',
                            'Huisnummer': 'HouseNr',
                            'Omschrijving': 'Description',
                            'OpmerkingMonteur': 'TechRemark',
                            'ProductOmschrijving': 'ProductInfo',
                            'Merk': 'Brand',
                            'LijnAanduiding': 'LineIndication',
                            'bouwjaar': 'YearOfConstruction'}, inplace=True)
#made them english
df_monteursbezoeken.drop(['Brand', 'LineIndication'], axis=1, inplace=True) #all of Brand is Rehema, all of lineindication is avanta, nothing novel from this

In [ ]:
df_monteursbezoeken.info()

In [ ]:
df_monteursbezoeken

In [50]:
categorical_columns = ['STATUS', 'Location', 'PRODUCT', 'UnitNr', 'CallType', 'ContractNr', 'POSTCODE', 'HouseNr', 'ProductInfo']

for column in categorical_columns:
    df_monteursbezoeken[column] = df_monteursbezoeken[column].astype('category')

In [51]:
# Fill NaN values with a placeholder value, e.g., -1, before conversion
df_monteursbezoeken['YearOfConstruction'] = df_monteursbezoeken['YearOfConstruction'].fillna(-1).astype('int64')
# Convert 'YearOfConstruction' from float64 to int64
df_monteursbezoeken['YearOfConstruction'] = df_monteursbezoeken['YearOfConstruction'].astype('int64')

In [52]:
df_monteursbezoeken['Location'] = df_monteursbezoeken['Location'].str.strip().str.lower()

In [53]:
df_monteursbezoeken = df_monteursbezoeken.drop_duplicates()

In [54]:
df_monteursbezoeken.reset_index(drop=True, inplace=True)

In [ ]:
df_monteursbezoeken

In [55]:
#cleaning and prep goes here
df_monteursbezoeken_cleaned = df_monteursbezoeken

In [56]:
cleaned_file_path = './data/cleaned/monteursbezoeken_cleaned_v1.xlsx'  # Adjust path as needed
df_monteursbezoeken_cleaned.to_excel(cleaned_file_path, index=False)

## For toestellen

In [58]:
df_toestellen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3231 entries, 0 to 3230
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product                        3231 non-null   object
 1   unit_no                        3231 non-null   object
 2   toestelfabrikant               3231 non-null   object
 3   Type_prod                      3231 non-null   object
 4   toestel                        3231 non-null   object
 5   ct                             3231 non-null   object
 6   contractnummer                 3231 non-null   object
 7   Part_Zak                       3231 non-null   object
 8   contracttype                   3231 non-null   object
 9   call_base_adres                3231 non-null   object
 10  call_base_postcode             3231 non-null   object
 11  call_base_plaats               3231 non-null   object
 12  call_base_huisnr               3231 non-null   object
 13  Datum_Inspanningsverplichting  3100 non-null   datetime64[ns]
 14  OH_Status                      3100 non-null   object
 15  Volgend_OH                     3231 non-null   object
 16  bouwjaar                       3158 non-null   float64
 17  reference                      2936 non-null   object
 18  Conditie_toestel               2799 non-null   float64
 19  Conditie_Expansie_vat          2799 non-null   float64
 20  Conditie_Rookgasafvoer         2799 non-null   float64
 21  Conditie_Luchttoevoer          2799 non-null   float64
 22  Conditie_appendages            2799 non-null   float64
 23  OH_freq                        3226 non-null   object
 24  NEN_opmerking                  141 non-null    object
 25  Datum_Uitgevoerd_OH            3043 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(6), object(18)
memory usage: 656.4+ KB

In [59]:
# Rename columns to English
df_toestellen.rename(columns={
    'product': 'Product',
    'unit_no': 'Unit_Number',
    'toestelfabrikant': 'Device_Manufacturer',
    'Type_prod': 'Product_Type',
    'toestel': 'Device',
    'ct': 'CT',  # Type of contract
    'contractnummer': 'Contract_Number',
    'Part_Zak': 'Business_Part',  # Private/Business
    'contracttype': 'Contract_Type',
    'call_base_adres': 'Call_Base_Address',
    'call_base_postcode': 'Call_Base_Postcode',
    'call_base_plaats': 'Call_Base_Location',
    'call_base_huisnr': 'Call_Base_House_Number',
    'Datum_Inspanningsverplichting': 'Date_of_Obligation_Effort',
    'OH_Status': 'Maintenance_Status',
    'Volgend_OH': 'Next_Maintenance',
    'bouwjaar': 'Year_of_Construction',
    'reference': 'Reference',
    'Conditie_toestel': 'Device_Condition',
    'Conditie_Expansie_vat': 'Expansion_Tank_Condition',
    'Conditie_Rookgasafvoer': 'Flue_Gas_Discharge_Condition',
    'Conditie_Luchttoevoer': 'Air_Supply_Condition',
    'Conditie_appendages': 'Appendages_Condition',
    'OH_freq': 'Maintenance_Frequency',
    'NEN_opmerking': 'NEN_Comment',
    'Datum_Uitgevoerd_OH': 'Date_Maintenance_Performed'
}, inplace=True)

# Convert 'Year_of_Construction' to integer after filling NaN values
df_toestellen['Year_of_Construction'] = df_toestellen['Year_of_Construction'].fillna(-1).astype(int)

# Convert specified columns to categorical
categorical_columns = [
    'Device_Manufacturer',
    'Product_Type',
    'CT',  # Type of contract
    'Contract_Type',
    'Maintenance_Status',
    'Maintenance_Frequency'
]
for column in categorical_columns:
    df_toestellen[column] = df_toestellen[column].astype('category')

# Check for and remove duplicates
df_toestellen = df_toestellen.drop_duplicates()

In [ ]:
df_toestellen.info()

In [ ]:
df_toestellen

In [61]:
#cleaning and prep goes here

df_toestellen_cleaned = df_toestellen

In [62]:
cleaned_file_path = './data/cleaned/toestellen_cleaned_v1.xlsx'  # Adjust path as needed
df_toestellen_cleaned.to_excel(cleaned_file_path, index=False)

# Merging all files

In [63]:
# Define file paths for data files
file_path_adressen = './data/cleaned/adressen_cleaned_v1.xlsx'
file_path_usedmat = './data/cleaned/materialen_cleaned_v1.parquet'
file_path_foutcode = './data/cleaned/foutcodeall_cleaned_v1.parquet'
file_path_monteurs = './data/cleaned/monteursbezoeken_cleaned_v1.xlsx'
file_path_toestellen = './data/cleaned/toestellen_cleaned_v1.xlsx'

# Read data files into DataFrames
df_adressen_cleaned = pd.read_excel(file_path_adressen, engine='openpyxl')
df_usedmat_all = pd.read_parquet(file_path_usedmat)
df_foutcode_all_cleanedv1 = pd.read_parquet(file_path_foutcode)
df_monteursbezoeken_cleaned = pd.read_excel(file_path_monteurs, engine='openpyxl')
df_toestellen_cleaned = pd.read_excel(file_path_toestellen, engine='openpyxl')

# Impute numerical condition fields with the median
condition_fields = ['Device_Condition', 'Expansion_Tank_Condition', 'Flue_Gas_Discharge_Condition', 'Air_Supply_Condition', 'Appendages_Condition']
for field in condition_fields:
    df_toestellen_cleaned[field].dropna

# Handle dates with a placeholder date (e.g., earliest date in dataset or a specific date)
df_toestellen_cleaned['Date_of_Obligation_Effort'].dropna
df_toestellen_cleaned['Date_Maintenance_Performed'].dropna

# Drop the 'NEN_Comment' column if it's mostly missing
df_toestellen_cleaned.drop(columns=['NEN_Comment'], inplace=True)

# Impute 'Reference' with the mode (most common value)
mode_value = df_toestellen_cleaned['Reference'].mode()[0]
df_toestellen_cleaned['Reference'].dropna

# Save cleaned DataFrame to a new Excel file
df_toestellen_cleaned.to_excel('./data/cleaned/toestellen_cleaned_v2.xlsx', engine='openpyxl', index=False)
file_path_toestellen2 = './data/cleaned/toestellen_cleaned_v2.xlsx'
df_toestellen_cleaned = pd.read_excel(file_path_toestellen2, engine='openpyxl')

# Handle missing values in 'Maintenance_Frequency' column
df_toestellen_cleaned['Maintenance_Frequency'].dropna

# Save cleaned DataFrame to another Excel file
df_toestellen_cleaned.to_excel('./data/cleaned/toestellen_cleaned_v3.xlsx', engine='openpyxl', index=False)
file_path_toestellen3 = './data/cleaned/toestellen_cleaned_v3.xlsx'
df_toestellen_cleaned = pd.read_excel(file_path_toestellen3, engine='openpyxl')

# Merge Devices DataFrame with Technician Visits on 'Unit_Number' and 'UnitNr'
df_merged = pd.merge(df_toestellen_cleaned, df_monteursbezoeken_cleaned, left_on='Unit_Number', right_on='UnitNr', how='left')

# Merge the resulting DataFrame with Fault Codes on 'CallNumberPre' and 'CALL_PREFIX'
df_merged = pd.merge(df_merged, df_foutcode_all_cleanedv1, left_on='CallNumberPre', right_on='CALL_PREFIX', how='left')

# Further merge with Used Materials on 'CallNumberPre' and 'CALL_PREFIX'
df_merged = pd.merge(df_merged, df_usedmat_all, left_on='CallNumberPre', right_on='CALL_PREFIX', how='left')

# Review the first few entries to ensure the merges were successful
print(df_merged.head())

# Optionally, check the size of the merged DataFrame to understand the extent of matching records
print("Merged DataFrame Shape:", df_merged.shape)

# Drop duplicate or unnecessary columns
df_merged_cleaned = df_merged.drop(columns=['CALL_PREFIX_y', 'CALL_SUFFIX_y', 'CREATE_DATE_y'])

# Optionally, rename columns for clarity
df_merged_cleaned.rename(columns={'CALL_PREFIX_x': 'CALL_PREFIX', 'CALL_SUFFIX_x': 'CALL_SUFFIX', 'CREATE_DATE_x': 'CREATE_DATE'}, inplace=True)

# Drop duplicate rows
df_merged_cleaned.drop_duplicates(inplace=True)

# Filter out rows with negative 'Year_of_Construction'
df_merged_cleaned = df_merged_cleaned[df_merged_cleaned['Year_of_Construction'] >= 0]

# Create a new column to indicate missing 'CALL_PREFIX'
df_merged_cleaned['CALL_PREFIX_missing'] = df_merged_cleaned['CALL_PREFIX'].isnull()

# Create separate DataFrames for analysis
missing_call_prefix_df = df_merged_cleaned[df_merged_cleaned['CALL_PREFIX_missing']]
analysis_df = df_merged_cleaned.dropna(subset=['CALL_PREFIX'])
critical_analysis_df = df_merged_cleaned[df_merged_cleaned['CALL_PREFIX'].notna()]

# Drop columns that are not needed for critical analysis
columns_to_drop = ['Product_Type', 'Maintenance_Status', 'CALL_PREFIX_missing', 'USED_QTY', 'USED_PROD', 'YearOfConstruction', 'ProductInfo']
critical_analysis_df = critical_analysis_df.drop(columns=columns_to_drop, axis=1)

            Product                Unit_Number Device_Manufacturer  \
0  REM000090260      0900194694110076499671914     REMEHA
1  REM000090260      0825405273110                 REMEHA
2  REM000090260      0825405273110                 REMEHA
3  REM000090260      0825405273110                 REMEHA
4  REM000090260      0904194703120076255071918     REMEHA

      Product_Type                                             Device  \
0  AVANTA           REMEHA HRC AVANTA 28 C CW4                    ...
1  AVANTA           REMEHA HRC AVANTA 28 C CW4                    ...
2  AVANTA           REMEHA HRC AVANTA 28 C CW4                    ...
3  AVANTA           REMEHA HRC AVANTA 28 C CW4                    ...
4  AVANTA           REMEHA HRC AVANTA 28 C CW4                    ...

           CT Contract_Number Business_Part                   Contract_Type  \
0  1205          50177908                 P  ESSENT BUDGET
1  Z200          E0003367                 Z  ZAKELIJK COMFORT SERVICE
2  Z200          E0003367                 Z  ZAKELIJK COMFORT SERVICE
3  Z200          E0003367                 Z  ZAKELIJK COMFORT SERVICE
4  Z200          E0003367                 Z  ZAKELIJK COMFORT SERVICE

                          Call_Base_Address  ... YearOfConstruction  \
0  PASTOOR MAINSSTRAAT 7                     ...                NaN
1  KRUINWG 1-H24                             ...             2008.0
2  KRUINWG 1-H24                             ...             2008.0
3  KRUINWG 1-H24                             ...             2008.0
4  KRUINWG 1-H31                             ...             2019.0

  CALL_PREFIX_x CALL_SUFFIX_x FAULT_CODE CREATE_DATE_x CALL_PREFIX_y  \
0           NaN           NaN        NaN           NaT           NaN
1     4687492.0           1.0      17071    2019-09-20     4687492.0
2     4591984.0           1.0      24800    2019-11-27           NaN
3     4591984.0           1.0      30500    2019-11-27           NaN
4           NaN           NaN        NaN           NaT           NaN

   CALL_SUFFIX_y  USED_PROD  USED_QTY  CREATE_DATE_y
0            NaN        NaN       NaN            NaT
1            1.0  REM074054       1.0     2019-09-20
2            NaN        NaN       NaN            NaT
3            NaN        NaN       NaN            NaT
4            NaN        NaN       NaN            NaT

[5 rows x 50 columns]
Merged DataFrame Shape: (8216, 50)

In [67]:
critical_analysis_df = critical_analysis_df.dropna()
critical_analysis_df = critical_analysis_df[~critical_analysis_df['STATUS'].isin(['SUCCESVOL', 'SUCCESVOL ', 'NSUCCESVOL'])]
critical_analysis_df.to_csv('./agressively_cleaned_critical_analysis_df.csv', index=False)